@font-face{

    font-family:'Morvanh';
    src: url('./fonts/Morvanh-Regular.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
}


body{
    margin:0;
    height:100vh;
    overflow:hidden;
    position:relative;
    user-select:none;
    background-color: black;
}

/* the background image layer */

body:before{
    content:"";
    position:absolute;
    background-color:black;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/1200x/19/b9/4b/19b94b637c02688defb4559b2482e878.jpg);
    background-position:center 50%;
    background-size:cover;
    background-attachment: fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    z-index: -1;
    transform-origin: 50% 53%;
    transition: transform 2s ease-in-out, filter 2s ease;
}

 /* GhosEroid text */

.topleft{
    position:absolute;
    color: rgba(228, 223, 223, 0.64);
    font-family: 'Morvanh';
    font-size: 1.8rem;
    width:0px;
    top:-10px;
    letter-spacing:8px;
    left:20px;
}

.topleftdown{
    position:absolute;
    color:rgba(255, 0, 0, 0.521);
    font-family:'Morvanh';
    font-size:1rem;
    top:25px;
    letter-spacing:8px;
    left:20px;
}

.GhostEroid-Main{
    position: fixed;
    color:white;
    text-align:center;
    font-family:'Morvanh';
    font-size:7rem;
    letter-spacing:20px;
    top:90px;
    left:40%;
}

.GE-mainS{
    position:center;
    color: rgba(255,0,0,0.521);
    font-family:'Morvanh';
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items:center;
    font-size:7rem;
    letter-spacing: 20px;
    
}

/* the main hitbox*/

.mouth{
    position:absolute;
    width:190px;
    height:125px;
    left:47.5%;
    bottom:-58px;
    transform: translate(-50%,-50%);
    z-index:999;
}

body.realm-active::before{
    transform: scale(1);
    filter: brightness(0.6);
}

 /* vanish everything once get into the realm */
 body.realm-active .topleft, body.realm-active .topleftdown,
 body.realm-active .GE-mainS, body.realm-active .GhostEroid-Main {
        opacity:0;
        visibility:hidden;
    }

    /* 2nd realm layout */

.bodyRealm2{
    background-image:url(https://i.pinimg.com/1200x/10/ac/94/10ac94e8376370c87731c6b876a9a67a.jpg);
    }

 .Srealm{
    position:fixed;
    background:transparent;
    top:0;
    left:0;
    z-index:1000;
    width:100vw;
    height:100vh;
    align-items:center;
    display:flex;
    justify-content: center;
    /* hides the interface completely at the startup */
    opacity:0;
    visibility:hidden;
    transition: opacity 1.5s ease 1s;
}
/* turning off mouth box layer */
body.realm-active .mouth{
    display:none;
}
/* hides all the stages initially */
.Game1-stage{
    display:none;
    flex-direction:column;
    text-align:center;
    align-items:center;
    justify-content:center;
    gap:20px;
    width:100%;
    max-width:600px;
    padding:20px;
}
/* keep the first stage showing */
.Game1-stage.ActiveStage{
    display:flex;
}

/* the 4 stages background */

body.realm-active .Srealm{
    background:black;
    background-image:url(https://i.pinimg.com/1200x/10/ac/94/10ac94e8376370c87731c6b876a9a67a.jpg);
    background-repeat:none;
    background-size:cover;
    background-position:center 30%;
    background-attachment: fixed;
    visibility:visible;
    opacity:1;
}

body.abyss-1::before {
    transform: scale(1.1);
    filter: brightness(0.4) constrast(1.2);
}

/* dark ringing hallway */

body.abyss-2::before{
    transform: scale(1.25) rotate(-1deg);
    filter: brightness(0.2) sepia(0.8) hue-rotate(320deg);
}
/* inside the pit of well */
body.abyss-3::before{
    transform: scale(3.5);
    filter: brightness(0.5) contrast(2);
    animation: screenVibrate 0.1s infinite alternate;
}
/* dark screen clearance oblivion */
body.abyss-4::before{
    transform: scale(1);
    filter: brightness(0);
}

@keyframes screenVibrate{
    0%{transform: scale(3.5) translate(1px,2px);}
    100%{transform:scale(3.5) translate(-2px, -1px);}
}

.play-game-btn, .VHS-tape, .phone-button, .Game-button-struggle {
    color:rgb(170, 25, 25);
    cursor:pointer;
    font-size: 1.5rem;
    padding: 12px 30px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}
.play-game-btn:hover, .VHS-tape:hover, .phone-button:hover, .Game-button-struggle:hover{
    color:white;
    background: rgb(135, 12, 12);
    box-shadow: 0 0 15px rgb(171, 17, 17)
}
.goback1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:1.5rem;
    cursor:pointer;
    background:transparent;
    border:none;
    color:rgb(102, 20, 20);
    padding: 1px 20px;
    position:absolute;
    right:-10px;
    bottom:20px;
    text-shadow:3px 3px 20px rgb(232, 225, 225);

}

.goback1:hover{
    border-color:white;
    color:white;
}

.topleft, .topleftdown, .GhostEroid-Main {
    transition: opacity 1s ease, visibility 1s ease;
}

.WelG2{
    position:absolute;
    font-size:3rem;
    margin-bottom:60px;
    color:rgb(23, 11, 74);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing:1px;
}
.hint{
    font-size:1.8rem;
    line-height:1.6;
    font-family:sans-serif;
    max-width:500px;
}