@font-face{

    font-family:'Morvanh';
    src: url('./fonts/Morvanh-Regular.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
}

body{
    margin:0;
    height:100vh;
    overflow:hidden;
    position:relative;
    user-select:none;
    background-color: black;
}

/* the background image layer */

body:before{
    content:"";
    position:absolute;
    background-color:black;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/1200x/19/b9/4b/19b94b637c02688defb4559b2482e878.jpg);
    background-position:center 50%;
    background-size:cover;
    background-attachment: fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    z-index: -1;
    transform-origin: 50% 53%;
    transition: transform 2s ease-in-out, filter 2s ease;
}

.topleft{
    position:absolute;
    color: rgba(228, 223, 223, 0.64);
    font-family: 'Morvanh';
    font-size: 1.8rem;
    width:0px;
    top:-10px;
    letter-spacing:8px;
    left:20px;
}

.topleftdown{
    position:absolute;
    color:rgba(255, 0, 0, 0.521);
    font-family:'Morvanh';
    font-size:1rem;
    top:25px;
    letter-spacing:8px;
    left:20px;
}

.GhostEroid-Main{
    position: fixed;
    color:white;
    text-align:center;
    font-family:'Morvanh';
    font-size:7rem;
    letter-spacing:20px;
    top:90px;
    left:40%;
}

.GE-mainS{
    position:center;
    color: rgba(255,0,0,0.521);
    font-family:'Morvanh';
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items:center;
    font-size:7rem;
    letter-spacing: 20px;
    
}

/* the main hitbox*/

.mouth{
    position:absolute;
    width:190px;
    height:125px;
    left:47.5%;
    bottom:-58px;
    transform: translate(-50%,-50%);
    z-index:999;
}

body.realm-active::before{
    transform: scale(8.5);
    filter: brightness(0);
}

 /* vanish everything once get into the realm */
 body.realm-active .topleft, body.realm-active .topleftdown,
 body.realm-active .GE-mainS, body.realm-active .GhostEroid-Main {
        opacity:0;
        visibility:hidden;
    }

    /* 2nd realm layout */

.bodyRealm2{
    background-image:url(https://i.pinimg.com/1200x/10/ac/94/10ac94e8376370c87731c6b876a9a67a.jpg);
    }

 .Srealm{
    position:fixed;
    background:black;
    background-image:url(https://i.pinimg.com/1200x/10/ac/94/10ac94e8376370c87731c6b876a9a67a.jpg);
    background-repeat:none;
    background-size:cover;
    background-position:center 30%;
    background-attachment: fixed;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    height:100%;
    align-items:center;
    display:flex;
    justify-content: center;
    opacity:0;
    visibility:hidden;
    transition: opacity 1.5s ease 1s;
}

body.realm-active .Srealm{
        visibility:visible;
        opacity:1;
}

body.realm-active .mouth{
    display:none;
}
.goback1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:1.5rem;
    cursor:pointer;
    background:transparent;
    border:none;
    color:rgb(102, 20, 20);
    padding: 1px 20px;
    position:absolute;
    right:-10px;
    bottom:20px;
    text-shadow:3px 3px 20px rgb(232, 225, 225);

}

.goback1:hover{
    border-color:white;
    color:white;
}

.topleft, .topleftdown, .GhostEroid-Main {
    transition: opacity 1s ease, visibility 1s ease;
}